$def with (time, pins, leds, orders, brights, effects, colours, colour_colours)
<!DOCTYPE html>
<html>
    <head>
        <title>pxlcmdr</title>
        <script src="static/js/jquery-3.7.1.js" language="javascript"></script>
        <script src="static/js/script.js" language="javascript"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/bootstrap-5.3.2-dist/css/bootstrap.css">
        <script src="static/bootstrap-5.3.2-dist/js/bootstrap.js" language="javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">pxlcmdr</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <h1 class="card-header">NeoPixel Configuration</h1>
                                <div class="card-body">
                                    <p>$time</p>
                                    <form id="config">
                                        <div class="form-group">
                                        <label for="pin">Output Pin</label>
                                        <select name="pin" class="form-control">
                                        $for i in pins:
                                            <option value="$i">$i</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <label for="count">LED Count</label>
                                        <select name="count" class="form-control">
                                        $for i in leds:
                                            <option value="$i">$i</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <label for="order">Colour Order</label>
                                        <select name="order" class="form-control">
                                        $for i in orders:
                                            <option value="$i">$i</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <label for="bright">Brightness</label>
                                        <select name="bright" class="form-control">
                                        $for i in brights:
                                            <option value="$i">$i</option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                        <label for="selected_effect">Effect</label>
                                        <select name="selected_effect" class="form-control">
                                        $for i in effects:
                                            <option value="$i">$i</option>
                                        </select>
                                        </div>
                                    </form>
                                    <hr/>
                                    <form id="chase" class="effects" style="display:none;">
                                        <div class="form-group">
                                        <label for="colours">Chase Colours</label>
                                        <select name="colours" class="form-control">
                                        $for i in colours:
                                            <option value="$colours[i]">$i</option>
                                        </select>
                                        </div>
                                    </form>
                                    <form id="colour" class="effects" style="display:none;">
                                        <div class="form-group">
                                        <label for="colour">Chase Colours</label>
                                        <select name="colour" class="form-control">
                                        $for i in colour_colours:
                                            <option value="$colour_colours[i]">$i</option>
                                        </select>
                                        </div>
                                    </form>
                                    <div id="effect-config"></div>
                                </div>
                                <div class="card-footer text-center">
                                    <div>
                                        <button class="btn btn-danger" onclick="show_confirm();">shutdown</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="confirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLongTitle">Shutdown</h5>
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" onclick="hide_confirm();"></button>
                    </div>
                    <div class="modal-body">
                        Are you shure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hide_confirm();">cancel</button>
                        <button type="button" class="btn btn-primary" onclick="really_shutdown();">shutdown</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
